body{
background-color: #f2ce79;
}

main {
  width: 90%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2{
 font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
 font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
ul {
  list-style-type: none;


  
}
}
